*{
    padding: 0px;
    margin: 0px;
    
}
.navbar{
    background-color:#333333;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    width: 100%;
}
.navbar-list
{
    display: flex;
    list-style-type: none;
    margin-right: 500px;
}
.logo img{

    border-radius: 20px;
}
.navbar-list li a{
    text-decoration: none;
    color: white;
    padding: 30px;
}
.navbar-list li{
    padding-top: 20px;
}
.navbar-list a:hover{
    text-decoration:underline;
    color:rgb(246, 246, 128);
}
.navbar-button{
    padding-top: 10px;
    padding-right: 5px;
}
.navbar-button button{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #d2e2fc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-button button:hover{
    background-color: #eceff7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.about{
    background-image: url(image/about.jpg);
    text-align: center;
    padding-top: 100px;
    height: 148px;
}
.about h1{
    color: white;
    font-family: cursive;
    font-size: 50px;
}
.about-content{
    background-color:wheat;
    font-family: cursive;
}
.about-content h1{
    text-align: center;
    color:black;
}
.about-content p{
    line-height: 2;
    padding-left: 200px;
    padding-right: 200px;
}
.about-content2{
    background-color:#d3e3fd;
}
.about-content2-heading{
    text-align: center;
    margin-bottom: 50px;
}
.about-row1{
    display: flex;
    padding-left: 300px;
    padding-bottom: 50px;
    background-color: #d2e2fc;
}
#b1,#b2,#b3,#b4{
    border: 1px solid black;
    background-color: #343a40;
    color: white;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

}
#b1,#b2,#b3{
    margin-right: 50px;
}
#b1:hover,#b2:hover,#b3:hover,#b4:hover{
    background-color: white;
    color: black;
}
